body{
    font-family: 'Merriweather', serif;
    margin: 0;
    background-image: url("../images/forest.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat:no-repeat;
}

html{
    min-height: 100vh;
}
*{
    box-sizing: border-box;
}
.page-head{
    color: #ccc;
    text-align: center;
    font-size: 40px;
}
.game-info-div{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.game-info{
    color: #ccc;
    font-size: 28px;
}
.game-div{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin-top: 50px;
    justify-content: center;
    perspective: 500px;
}

.card{
    position: relative;
    height: 175px;
    width: 125px;
    margin: 10px;
    justify-content: center;
}

.card-div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin-left: 30px;
    
}
.card-face{
    background-color: #a7bbac;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform 500ms ease-in-out;
    border-radius: 10px;
    border-width: 1px;
    border-style:solid;
}

.card.visible .backface{
    transform: rotateY(-180deg);
}
.card.visible .frontface {
    transform: rotateY(0);
}
.card.matched .animals{
    animation: dance 1s linear infinite 250ms;
}
@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
}

.game-overlay{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #b4d8bd;
  transition: background-color 500ms, font-size 500ms;
}
.game-overlay.visible{
    display: flex;
    flex-direction: column;
    animation: grow 700ms forwards;
}

.game-overlay-small{
    font-size: .3em;
    color: #b4d8bd;
}

@keyframes grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(70, 103, 80, 0.7);
        font-size: 7em ;
    }
}
.frontface{
    transform: rotateY(180deg);
}

.animals{
    align-items: flex-start; 
    transition: transform 100ms ease-in-out;
    width: 100px;
    height:100px;
    transform: scale(1);
}
.backface:hover .animals{
    transform: scale(1.1);
}
.backface:hover {
    transform: translateY(0);
}
.logo{
    align-items: flex-start; 
    transition: transform 100ms ease-in-out;
    width: 125px;
    height:125px;
    transform: scale(1);
}
.logo:hover{
    transform: scale(1.2);
}